page-classify {
  ion-header{
    .navList{
      padding-left: 0!important;
      margin: 0;
      height: 50px;
      line-height: 50px;
      .first{
          border-bottom:4px solid #fff;
          color: #fff;
      }
      li{
          height: 50px;
          text-align: center;
          float: left;
          width: 25%;
      }
    }
  }
  ion-content{
    .tuijian{
      margin-top: 3%;
      margin-left: 3%;
      button{
        border-style:solid;
        border-width:1px;
        font-size: 16px;
        background-color: white;
      }
    }
    .end{
      background-color:gainsboro;
      margin-top: 5%;
      img{
        margin-top: 4%;
        margin-left: 3%;
        width: 45%;
      }
    }
  }
}
