page-sousuo {
    ion-content{
        .head{
            height:5%;
            margin-top:4%;
            .icon1{
                margin-left:5%;
                margin-right:5%;
                font-size:32px;
                float:left;
            }
            .sousuo{
                ion-icon{
                    font-size:24px;
                    margin-left:5%;
                    color:green;
                }
                border:1px solid gainsboro;
                height:100%;
                width:65%;
                float:left;
                input{
                    border:none;
                    height:100%;
                    margin-left:5%;
                }
            }
            .span{
               // border:1px solid gainsboro;
                font-size:20px;
                margin-left:5%;
                border:none;
                padding:0;


            }

        }
        span{
           padding:2%;
            border:1px solid gray;
            margin:5%;
            //line-height:20%;
        }

        .span2{
            border:1px solid orange;
            color:orange;
            background:rgb(252, 240, 207)
        }
        .span3{
            border:1px solid green;
            color:green;
            background:rgb(234, 252, 223)
        }
        .span4{
            border:1px solid blue;
            color:blue;
            background:rgb(226, 238, 241);
        }
        .history{
            margin-top:10%;
            padding-top:5%;
            border-top:1px solid gray;
        }
    }
}
