page-qiandao {
    ion-content{
        background:rgb(182, 243, 195)!important;
        .head{
            height:10%;
            font-size:24px;
            color:green;
            margin-top:4%;
            .icon1{
                margin-left:5%;
            }
            .icon2{
                float:right;
                margin-right:5%;
            }
        }
        .tree{
            height:30%;
            width:40%;
            margin-top:50%;
            margin-left:30%;
        }
        button{
            width:30%;
            height:9%;
            background:#EC370B;
            border-radius: 20%;
            color:white;
            font-size:18px;
            margin-left:35%;
        }
        ul{
            margin-top:8%;
            li{
                float:left;
                list-style-type:none;
                background:transparent;
                //border:1px solid gray;
                color:green;
                width:35%;
               // height:7%;
                font-size:12px;
                .btn1{ 
                    background:transparent;
                    border:1px solid gray;
                    color:green;
                    width:100%;
                    height:100%; 
                    margin-left:5%;
                    padding:7%;
                }
                .btn2{
                    background:transparent;
                    border:1px solid gray;
                    color:green;
                    width:100%;
                    height:100%;
                    padding:7%;
                }
               
            }
        }
      
        
       
        
    }
}
