page-hitalk {
    ion-content{
        p{
            width: 100%;
            height: auto;
            span{
                color: gray;
            }
        }
       img{
            width: 120px;
            height: 120px;
            margin-top: 5px;
            margin-left: 25%;
            
        }
    }
}
