  <ion-content>
    <!-- 导航栏 -->
    <div class="navList">
      <ul>
        <li *ngFor='let item of arr;let idx=index;' (click)="isClick(idx)"
        [class.first]="isActive==idx" class="first" ><span>{{arr[idx]}}</span></li>
      </ul>
    </div>
    <div [ngSwitch]="isActive">
      <span>&nbsp;</span>
      <div *ngSwitchCase="0">
        <!-- 轮播 -->
        <div class="rotation">
          <ion-slides  loop=true autoplay="2000">
            <ion-slide>
              <img src="../../assets/imgs/一刹风雨.png" alt=""  >
            </ion-slide>
            <ion-slide>
              <img src="../../assets/imgs/女强甜.png" alt="" >
            </ion-slide>
            <ion-slide>
              <img src="../../assets/imgs/公子谋.png" alt="" >
            </ion-slide>
          </ion-slides>
        </div>
        <div id="moddle">
          <img src="../../assets/imgs/分类.png" alt="logo" (click)="goclassfy()">
          <img src="../../assets/imgs/榜单.png" alt="logo" (click)="gobangdan()">
          <img src="../../assets/imgs/会员.png" alt="logo">
          <img src="../../assets/imgs/完结.png" alt="logo" (click)="gowanjie()">
          <img src="../../assets/imgs/出版.png" alt="logo" (click)="gochuban()">
        </div>
        <div id="end">
            <img src="../../assets/imgs/精品汇聚.png" alt="logo" id="xian">
            <br/>
            <div *ngFor="let item of arr1;let idx=index" class="jx">
              <div class="book" >
                <img src={{arr1[idx].pic_src}}  [navPush]="pagesArr[idx]"><br>
                <div class="black">{{arr1[idx].title}}</div>
                <div class="gray">{{arr1[idx].author}}</div>
              </div>
              <!-- <img src="../../assets/imgs/精品推荐/修仙我才是女主.png" alt=""> -->
              <!-- <img src="../../assets/imgs/精品推荐/013号凶案.png" alt="">
              <img src="../../assets/imgs/精品推荐/仵逆.png" alt="">
              <img src="../../assets/imgs/精品推荐/娇软小媳妇.png" alt=""> -->
              <!-- <br>
              <img src="../../assets/imgs/精品推荐/幸福私家菜.png" alt="">
              <img src="../../assets/imgs/精品推荐/至尊股神.png" alt="">
              <img src="../../assets/imgs/精品推荐/闪婚.png" alt="">
              <img src="../../assets/imgs/精品推荐/风水师.png" alt=""> -->
            </div>
        </div>
      </div>

      <div *ngSwitchCase="1">
        <!-- 轮播 -->
        <div class="rotation">
            <ion-slides  loop=true autoplay="2000">
              <ion-slide>
                <img src="../../assets/imgs/女生/轮播图/将军的美味.png" alt=""  >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/imgs/女生/轮播图/冷面将军.png" alt="" >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/imgs/女生/轮播图/女生十月完结小说.png" alt="" >
              </ion-slide>
            </ion-slides>
          </div>
          <div id="moddle">
            <img src="../../assets/imgs/分类.png" alt="logo" (click)="goclassfy()">
            <img src="../../assets/imgs/榜单.png" alt="logo" (click)="gobangdan()">
            <img src="../../assets/imgs/会员.png" alt="logo">
            <img src="../../assets/imgs/完结.png" alt="logo" (click)="gowanjie()">
            <img src="../../assets/imgs/出版.png" alt="logo" (click)="gochuban()">
          </div>
          <div id="end">
              <img src="../../assets/imgs/精品汇聚.png" alt="logo" id="xian">
              <br/>
              <div *ngFor="let item of arr2;let idx=index" class="jx">
                  <div class="book">
                    <img src={{arr2[idx].pic_src}} [navPush]="pagesArr[idx]"><br>
                    <div class="black">{{arr2[idx].name}}</div>
                    <div class="gray">{{arr2[idx].author}}</div>
                  </div>
                <!-- <img src="../../assets/imgs/精品推荐/修仙我才是女主.png" alt="">
                <img src="../../assets/imgs/精品推荐/013号凶案.png" alt="">
                <img src="../../assets/imgs/精品推荐/仵逆.png" alt="">
                <img src="../../assets/imgs/精品推荐/娇软小媳妇.png" alt="">
                <br>
                <img src="../../assets/imgs/精品推荐/幸福私家菜.png" alt="">
                <img src="../../assets/imgs/精品推荐/至尊股神.png" alt="">
                <img src="../../assets/imgs/精品推荐/闪婚.png" alt="">
                <img src="../../assets/imgs/精品推荐/风水师.png" alt=""> -->
              </div>
          </div>
      </div>


      <div *ngSwitchCase="2">
          <div class="rotation">
              <ion-slides  loop=true autoplay="2000">
                <ion-slide>
                  <img src="../../assets/imgs/男生/轮播图/0.png" alt=""  >
                </ion-slide>
                <ion-slide>
                  <img src="../../assets/imgs/男生/轮播图/1.png" alt="" >
                </ion-slide>
                <ion-slide>
                  <img src="../../assets/imgs/男生/轮播图/2.png" alt="" >
                </ion-slide>
              </ion-slides>
            </div>
            <div id="moddle">
              <img src="../../assets/imgs/分类.png" alt="logo" (click)="goclassfy()">
              <img src="../../assets/imgs/榜单.png" alt="logo" (click)="gobangdan()">
              <img src="../../assets/imgs/会员.png" alt="logo">
              <img src="../../assets/imgs/完结.png" alt="logo" (click)="gowanjie()">
              <img src="../../assets/imgs/出版.png" alt="logo" (click)="gochuban()">
            </div>
            <div id="end">
                <img src="../../assets/imgs/精品汇聚.png" alt="logo" id="xian">
                <br/>
                <div *ngFor="let item of arr3;let idx=index" class="jx">
                  <div class="book">
                    <img src={{arr3[idx].pic_src}} [navPush]="pagesArr[idx]"><br>
                    <div class="black">{{arr3[idx].name}}</div>
                    <div class="gray">{{arr3[idx].author}}</div>
                  </div>
                </div>
            </div>
      </div>


      <div *ngSwitchCase="3">
          <div class="rotation">
            <ion-slides  loop=true autoplay="2000">
              <ion-slide>
                <img src="../../assets/imgs/漫画/轮播图/0.png" alt=""  >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/imgs/漫画/轮播图/1.png" alt="" >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/imgs/漫画/轮播图/2.png" alt="" >
              </ion-slide>
            </ion-slides>
          </div>

          <div id="end-manhua">
            <img src="../../assets/imgs/漫画/轻小说推荐/轻小说推荐.png" alt="logo" id="xian1">
            <br/>
            <div *ngFor="let item of arr4;let idx=index" class="jx1">
                <div class="book">
                  <img src={{arr4[idx].pic_src}} [navPush]="pagesArr[idx]"><br>
                  <div class="black">{{arr4[idx].name}}</div>
                  <div class="gray">{{arr4[idx].author}}</div>
                </div>
              </div>
            <!-- <div>
              <img src="../../assets/imgs/漫画/轻小说推荐/0.png" alt="">
              <img src="../../assets/imgs/漫画/轻小说推荐/1.png" alt="">
              <img src="../../assets/imgs/漫画/轻小说推荐/2.png" alt="">
              <br>
              <img src="../../assets/imgs/漫画/轻小说推荐/3.png" alt="">
              <img src="../../assets/imgs/漫画/轻小说推荐/4.png" alt="">
              <img src="../../assets/imgs/漫画/轻小说推荐/5.png" alt="">
            </div> -->
          </div>
      </div>


    </div>

  </ion-content>
