page-home {
    ion-content{
        .head{
            //border:1px solid red;
            position:relative;
            height:40%;
            .banner{
                width:100%;
                height:100%;
            }
            .p1{
                color:white;
                font-size:20px;
                position:absolute;
                top:35%;
               left:30%;
            //    z-index:-1;
            }
            .p2{
                color:white;
                font-size:20px;
                position:absolute;
                top:5%;
                left:55%;
                border:1px solid white;
            }
            .icon1{
                position:absolute;
                top:13%;
                left:70%;
                font-size:30px;
                color:white;
            }
            .icon2{
                position:absolute;
                top:13%;
                left:85%;
                font-size:30px;
                color:white;
            }
            .div{
                //border:1px solid red;
                position:absolute;
                width:40%;
                left:55%;
                top:30%;
                height:100%;
                ul{
                    border:1px  solid gray;           
                    padding:0;
                    height:90%;
                    margin:0;
                    li{
                        
                        background:white;
                        border-bottom:1px solid gray;
                        list-style-type:none;
                        height:20%;
                        padding-top:5%;
                        ion-icon{
                            font-size:28px;
                            margin-left:5%;
                        }
                        span{
                            margin-left:5%;
                            font-size:18px;
                        }
                    }
                }
            }
            
        }
        .content{
            ul{
                padding:0;
                li{
                   // border:3px solid red;
                    list-style-type:none;
                    float:left;
                    width:25%;
                    margin:4%;
                  
                    margin-top:2%;
                    p{
                        margin:0;
                    }
                }
            }
        }
    }
}
