<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="head">
    <img  class="banner" src="assets/images/2771/27713174/v2_piis5t.png">
    <p class="p1">嗨~终于等到你</p>
    <p class="p2" (click)="qiandao()">签</p>
    <ion-icon (click)="sousuo()" class="icon1" name="md-search"></ion-icon>
    <ion-icon class="icon2" name="md-more" (click)="isShow()"></ion-icon>
    <div class="div" *ngIf="flag">
      <ul>
        <li>
            <ion-icon name="ios-book-outline"></ion-icon><span>更新连载书</span>
        </li>
        <li>
            <ion-icon name="ios-download-outline"></ion-icon><span>下载管理</span>
        </li>
        <li>
            <ion-icon name="ios-log-in-outline"></ion-icon><span>本地导入</span>
        </li>
        <li>
            <ion-icon name="ios-wifi-outline"></ion-icon><span>wifi传书</span>
        </li>
        <li>
            <ion-icon name="ios-bookmarks-outline"></ion-icon><span>书籍管理</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <!-- <ul>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
      <li>
          <img src="assets/images/2771/27714625/v2_piit96.png">
          <p>已读：66%</p>
          <p>15书签</p>
      </li>
    </ul> -->
    <ul>
        <li *ngFor="let item of arr;let idx=index" >
            <img src={{arr[idx].book_pic}}>
          <p>已读：{{arr[idx].yidu}}%</p>
          <p>{{arr[idx].shuqian}}书签</p>
        </li>
    </ul>
  </div>
</ion-content>
