page-xiaoxi {
    ion-content{
        .head{
            margin-bottom:5%; 
            height:10%;
            background:white;
           ion-icon{
               font-size:30px;
               //border:1px solid red;
               margin-top:3%;
               margin-left:5%;
           }
           span{
               font-size:20px;
               //border:1px solid red;
               margin-top:3%;
               margin-left:30%;
           }
        }
        ul{
            padding-left: 0!important;
            margin: 0;
            height: 20%;
            line-height: 20%;
            li{
                float:left;
                height: 20%;
                text-align: center;
                width: 50%;
                list-style-type:none;
                font-size:18px;
            }
            .first{
                border-bottom:2px solid green;
            }
        }
        p{
            text-align:center;
            color:gray;
        }
    }
}
