page-home {
  .navList{
    .first{
      border-style:opx;
      border-bottom: 3px solid white;
      border-bottom-width:4px;
    }
      ul{
        position:relative;
        margin-top:-0.5%;
        padding-left: 0!important;
        height: 44px;
        line-height: 44px;
      li{
        list-style-type:none;
        float: left;
        margin-left: 11.5%;
        span{
          color:white;
          font-size:16px;
          letter-spacing:2px;
        }
       }
      }
  }
  .rotation{
    height: 20%;
    position: relative;
    margin-top:-20% ;
    z-index: -1;
  }
  #moddle{
    margin-top: -10px;
    img{
      width: 35px;
      height: 59px;
      margin-top: 15px;
      margin-left: 7.5%;
      }
    }
  #end{
    margin-top: 3%;
    img{
      margin-left: 3.5%;
      margin-top: 2%;
    }
    div{
      img{
        width: 20%;
        margin-left: 3.5%;
      }
    }
  }

}
