page-like {
    ion-content{
        background-color: #ececec!important;
        background-size: cover;
        .navList{
            background-color: #fff;
            padding-left: 0!important;
            margin: 0;
            height: 50px;
            line-height: 50px;
            .first{
                border-bottom:4px solid #32db64;
                color: #32db64;
            }
            li{
                height: 50px;
                text-align: center;
                float: left;
                width: 33.33%;
            }
        }
        .book{
            background-color: #fff!important;
            width: 100%;
            height: auto;
            float: left;
            img{
                width: 90px;
                height: 120px;
                float: left;
                margin: 10px 20px;
            }
            p{
                height: 33.33%;
            }
            .name{font-size: 18px;}
            .time{color: gray;}
        }
    }
}
