page-xiaoxi {
    ion-content{
        .navList{
            background-color: #fff;
            padding-left: 0!important;
            margin: 0;
            height: 50px;
            line-height: 50px;
            .first{
                border-bottom:4px solid #32db64;
                color: #32db64;
            }
            li{
                height: 50px;
                text-align: center;
                float: left;
                width: 50%;
            }
        }
        p{
            text-align:center;
            color:gray;
            margin-top: 20%;
        }
    }
}
