page-register {
    .register_page{
        text-align: center;
    }
    #sjh{
        width: 98%;
        height: 40px;
        border:red solid thin;
outline:#00ff00 dotted thick;
    }
    .reg_btn{
        margin-top: 10px;
    }
}
