

  li{
    list-style: none;
  }
  .content{
    ion-item {
      background:none;
      #firstIcon{
        float: right;
        margin-right: 20px;
        font-size:24px;
      }
  }

  }
  .bgImage {
    background-image: url(../../assets/imgs/v2_pijajo.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  .myTop {
    width: 100%;
    height: 150px;
    //background: red;
    position: relative;

    img:nth-child(1) {
      width: 60px;
      height: 60px;
      position: absolute;
      margin-left: 30px;
      margin-top: 50px;
    }

    img:nth-child(2) {
      width: 24px;
      height: 24px;
      position: absolute;
      margin-left: 88px;
      margin-top: 88px;
    }

    #firstA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 18px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 27px;
      text-decoration: none;
      position: absolute;
      margin-left: 170px;
      margin-top: 35px;
    }

    #secondA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 14px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 143px;
      margin-top: 65px;
    }

    #thirdA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 14px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 185px;
      margin-top: 65px;
    }

    #forthA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 14px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 225px;
      margin-top: 65px;
    }

    #fifthA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 18px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 150px;
      margin-top: 95px;
    }

    #sixthA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 18px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 190px;
      margin-top: 95px;
    }

    #seventhA {
      font-family: SourceHanSansSC;
      font-weight: 400;
      font-size: 18px;
      color: rgb(16, 16, 16);
      font-style: normal;
      letter-spacing: 0px;
      line-height: 21px;
      text-decoration: none;
      position: absolute;
      margin-left: 235px;
      margin-top: 95px;
    }
  }
