page-bookstore {
  .navList{
    .first{
      border-style:opx;
      border-bottom: 3px solid white;
      border-bottom-width:4px;
    }
      ul{
        position:relative;
        margin-top:-0.5%;
        padding-left: 0!important;
        height: 44px;
        line-height: 44px;
      li{
        list-style-type:none;
        float: left;
        margin-left: 11.5%;
        span{
          color:white;
          font-size:16px;
          letter-spacing:2px;
        }
       }
      }
  }
  .rotation{
    height: 20%;
    position: relative;
    margin-top:-20% ;
    z-index: -1;
  }
  #moddle{
    margin-top: -10px;
    img{
      width: 35px;
      height: 59px;
      margin-top: 15px;
      margin-left: 7.5%;
      }
    }
  // #end{
  //   margin-top: 3%;
  //   img{
  //     margin-left: 3.5%;
  //     margin-top: 2%;
  //   }
  //   div{
  //     img{
  //       width: 20%;
  //       margin-left: 3.5%;
  //     }
  //   }
  // }
  .jx{
    width: 100%;
    .book{
      width: 22%;
      height: 150px;
      float: left;
      margin: 1.5%;
      img{
        width: 100%;
        height: 110px;
      }
      div{
        width: 95%;
        margin-left: 2%;
        overflow: hidden;
      }
      .black{
        color: black;
        font-size:14px;
        height: 17px;
      }
      .gray{
        color: gray;
        font-size: 12px;
        height: 15px;
      }
    }
  }
  #xian1{
    width: 30%;
    height: auto;
    margin-left: 2%;
  }
  .jx1{
    width: 100%;
    .book{
      width: 28%;
      height: 150px;
      float: left;
      margin: 2.5%;
      img{
        width: 100%;
        height: 130px;
      }
      div{
        width: 95%;
        margin-left: 2%;
        overflow: hidden;
      }
      .black{
        color: black;
        font-size:14px;
        height: 17px;
      }
      .gray{
        color: gray;
        font-size: 12px;
        height: 15px;
      }
    }
  }
}
