page-read {
  ion-header{
    ion-icon{
      font-size: 30px;
      float: right;
      margin-right: 3%;
    }
  }
  .fengmian{
    background:url('../../assets/imgs/read/桃花.png');
    width: 700px;
    height: 150px;
    line-height:13%;
    margin-left: -10%;
    margin-top: -3.5%;
    margin-bottom: 3%;
    li{
      margin-top: 2%;
      list-style-type:none;
      float: left;
      margin-left: 3%;
    }
  }
  .h{
    margin-top: -2%;
  }
  .listitem{
    margin-top: 3%;
    button{
      margin-left: -1%;
      width: 100%;
    }
  }
.end{
  button{
    float: left;
    width: 33.33333333333%;
    height: 100px;
    div{
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
}
}
