page-chuban {
  .rotation{
    height: 20%;
    width: 100%;
    margin-top:-4% ;
    img{
      width: 100%;
    }
  }
  #end{
    margin-top: 3%;
    .jx{
      width: 93%;
      margin-left: 3.5%;
      margin-right: 3.5%;
      .book{
        width: 22%;
        height: 140px;
        float: left;
        margin: 1.5%;
        img{
          width: 100%;
          height: 110px;
        }
        div{
          width: 95%;
          margin-left: 2%;
          overflow: hidden;
        }
        .black{
          color: black;
          font-size:14px;
          height: 17px;
        }
        .gray{
          color: gray;
          font-size: 12px;
          height: 15px;
        }
      }
    }
  }

}
